<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg=="
        crossorigin="anonymous" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
  <h1>Chrome/Glass Buttons</h1>

<article>
  <nav class="btn-bar nav-light">
    <a href="#" class="btn btn-glass">
      Default
    </a>
    <a href="#" class="btn btn-glass btn-primary">
      <i class="fa fa-fw fa-lg fa-chevron-right"></i> Primary
    </a>
    <a href="#" class="btn btn-glass btn-success">
      <i class="fa fa-fw fa-lg fa-check"></i> Success
    </a>
    <a href="#" class="btn btn-glass btn-warning">
      <i class="fa fa-fw fa-lg fa-exclamation "></i> Warning
    </a>
    <a href="#" class="btn btn-glass btn-danger">
      <i class="fa fa-fw fa-lg fa-times"></i> Danger
    </a>
    <a href="#" class="btn btn-glass btn-info">
      <i class="fa fa-fw fa-lg fa-info "></i> Info
    </a>
  </nav>
</article>

<article>
  <nav class="btn-bar nav-dark">
    <a href="#" class="btn btn-glass">
      Default
    </a>
    <a href="#" class="btn btn-glass btn-primary">
      <i class="fa fa-fw fa-lg fa-chevron-right"></i> Primary
    </a>
    <a href="#" class="btn btn-glass btn-success">
      <i class="fa fa-fw fa-lg fa-check"></i> Success
    </a>
    <a href="#" class="btn btn-glass btn-warning">
      <i class="fa fa-fw fa-lg fa-exclamation "></i> Warning
    </a>
    <a href="#" class="btn btn-glass btn-danger">
      <i class="fa fa-fw fa-lg fa-times"></i> Danger
    </a>
    <a href="#" class="btn btn-glass btn-info">
      <i class="fa fa-fw fa-lg fa-info "></i> Info
    </a>
  </nav>
</article>

<article>
  <section>
    Are you sure you want to delete <code>somefile.txt</code>?
  </section>
  <nav class="btn-bar nav-light">
    <a href="#" class="btn btn-glass btn-success">
      <i class="fa fa-fw fa-lg fa-check"></i> Ok
    </a>
    <a href="#" class="btn btn-glass btn-danger">
      <i class="fa fa-fw fa-lg fa-times"></i> No
    </a>
  </nav>
</article>

<article>
  <section>
    <h2>Check out when they scroll...</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, nisi voluptate tempora ea molestias vel! Mollitia architecto, accusamus nulla rerum magnam, nisi, facilis praesentium, aut quia placeat tempora voluptatem repudiandae!</p>
    <p>Nesciunt, molestias commodi totam vitae, voluptates debitis repellendus modi dicta dolores dolorem beatae laboriosam eaque, sed. Dolorem fuga voluptatibus vero eveniet iure. Sed nemo saepe delectus, expedita asperiores, dolor illo.</p>
    <p>Cum aspernatur, quidem dolorum accusamus quod vel, rem inventore tempora voluptas dolore deserunt eveniet doloribus obcaecati nesciunt error in illum, molestias explicabo corrupti commodi natus dicta placeat. A, laudantium, impedit.</p>
  </section>
  <nav class="btn-bar nav-dark">
    <a href="#" class="btn btn-glass btn-success">
      <i class="fa fa-fw fa-lg fa-check"></i> Approve
    </a>
    <a href="#" class="btn btn-glass btn-danger">
      <i class="fa fa-fw fa-lg fa-times"></i> Reject
    </a>
    <a href="#" class="btn btn-glass btn-info">
      <i class="fa fa-fw fa-lg fa-code"></i> Diff
    </a>
  </nav>
</article>

</body>
</html>
